/app/bootstrap.php.cache
/app/build/*
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/bin/
/composer.phar
/vendor/
/web/data/
/web/bundles/
*~
.htaccess
.htpasswd
