{% trans_default_domain 'FOSUserBundle' %}

<form role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  <div class="form-group">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </div>
</form>
