.logo{
    width: 100%;
    height:40px;
}

.margin-top-20{
    margin-top: 2.0em;
}

.calendar-logo {
    width: 128px;
    height: 128px;
}

.dhx_cal_tab{

}

.dhx_cal_today_button{
    width: 100px;
}

.dhx_cal_tab active{
    
}
