{% extends 'visitor.html.twig' %}
{% block head %} {% endblock %}
{% block title %} {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{{ wo_render_breadcrumbs() }}
    {% for entity in entities %}
        <a href = "{{path('user_calendar_show', {'slug' : entity.slug})}}">{{entity.title}}</a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
{% endblock %}
