{% extends '::base.html.twig' %}
{% block head %}<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script> {% endblock %}

{% block title %}test{% endblock %}

{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/public/css/dhtmlx/dhtmlxscheduler.css' %}
<link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
{% endstylesheets %}
{% endblock %}

{% block body %}

<style type="text/css">
html, body{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
}
</style>

<div class="calendar" style='width:auto; height:50px;'>
    <div class="myscheduler" style='width:100%; height:100%;'></div>
</div>

{% endblock %}

{% block javascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/dhtmlxscheduler_serialize.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" charset="utf-8">
$(function(){
    $(".myscheduler").dhx_scheduler({
        xml_date:"%Y-%m-%d %H:%i",
        date:new Date(2014,4,25),
        mode:"month"
    });

    scheduler.load("{{ asset('public/events.xml')}}")
});
</script>

{% endblock %}
